.optionsNavbar{
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 190, 254, 0.236);
    padding: 10px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid rgba(31, 31, 31, 0.516);
}
.nav-link{
    color: black !important;
    cursor: pointer;
    border: 1px solid lightgray;
    padding: 5px 10px;
    margin-left: 10px;
   
}
a{
    text-decoration: none !important;
}
.create-btn{
    background-color: rgba(248, 112, 16, 0.44);
    transition: all .3s ease-in-out;
    border: 2px solid transparent;
}
.create-btn:hover{
    background-color: rgba(248, 113, 16, 0.656);
    border: 2px solid black;
    border-radius: 5px;
}
.view-btn{
    transition: all .3s ease-in-out;
    background-color: rgba(222, 255, 58, 0.535);
    border: 2px solid transparent;
}
.view-btn:hover{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(222, 255, 58, 0.784);
}