/* //restaurantdashboard css */

.adminDashboadContainer {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.adminDashboardHeader {
    width: 100%;
    height: 10vh;
    background-color: rgb(240, 238, 238);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.adminContentContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: 5px;
}

.adminSidebar {
    width: 15%;
    height: 90vh;
    background-color: rgb(240, 238, 238);
}

.adminMenuContainer {
    width: 100%;
    height: 100%;
    padding:  0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.adminMenuItem {
    width: 100%;
    height: fit-content;
    padding: 10px 0 10px 50px;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: justify;
    transition: all .3s ease-in-out;
}

.active {
    background-color: rgba(0, 0, 0, 0.31);
}

.adminMainContentContainer {
    width: 85%;
    /* height: 90vh; */
    background-color: rgb(240, 238, 238);
    
}
a{
    color:black !important;
}