.mainContainer {
    width: 100%;
    padding: 10px 20px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer .title {
    width: 100%;
    padding: 10px 0;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    /* background-color: cadetblue; */
}

.formContainer input,
.formContainer select {
    width: 48%;
}

.check {
    width: 5% !important;
}